fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
google-generativeai
faiss-cpu
pypdf2
numpy
face-recognition
Pillow
cmake
setuptools